In [54]:
import pandas as pd
import numpy as np
math_data = pd.read_csv("student-mat.csv")

In [55]:
math_data.drop(['address', 'school', 'age', 'nursery', 'famsize', 'higher', 'failures', 'Mjob', 'romantic', 'Fjob', 'reason', 'goout', 'guardian', 'famsup', 'Dalc', 'Walc', 'G2'], axis = 1, inplace=True)

In [56]:
data_dum = pd.get_dummies(math_data)

In [57]:
data_dum.head()

,Medu,Fedu,traveltime,studytime,famrel,freetime,health,absences,G1,G3,...,Pstatus_A,Pstatus_T,schoolsup_no,schoolsup_yes,paid_no,paid_yes,activities_no,activities_yes,internet_no,internet_yes
0,4,4,2,2,4,3,3,6,5,6,...,1,0,0,1,1,0,1,0,1,0
1,1,1,1,2,5,3,3,4,5,6,...,0,1,1,0,1,0,1,0,0,1
2,1,1,1,2,4,3,3,10,7,10,...,0,1,0,1,0,1,1,0,0,1
3,4,2,1,3,3,2,5,2,15,15,...,0,1,1,0,0,1,0,1,0,1
4,3,3,1,2,4,3,5,4,6,10,...,0,1,1,0,0,1,1,0,1,0

In [58]:
data_dum.drop(['Pstatus_A', 'schoolsup_no', 'paid_no', 'activities_no', 'internet_no', 'sex_F'], axis=1, inplace=True)

In [59]:
data_dum.head()

,Medu,Fedu,traveltime,studytime,famrel,freetime,health,absences,G1,G3,sex_M,Pstatus_T,schoolsup_yes,paid_yes,activities_yes,internet_yes
0,4,4,2,2,4,3,3,6,5,6,0,0,1,0,0,0
1,1,1,1,2,5,3,3,4,5,6,0,1,0,0,0,1
2,1,1,1,2,4,3,3,10,7,10,0,1,1,1,0,1
3,4,2,1,3,3,2,5,2,15,15,0,1,0,1,1,1
4,3,3,1,2,4,3,5,4,6,10,0,1,0,1,0,0

In [60]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data_dum, 
                        test_size=0.2, random_state=0)
print('Train size: ', len(train_set), 'Test size: ', len(test_set))

Train size:  316 Test size:  79

In [61]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
X = train_set.drop('G3', axis=1)
y = train_set['G3']
X_test = test_set.drop('G3', axis=1)
y_test = test_set['G3']

lr_model = LinearRegression()
lr_model.fit(X,y)

y_pred = lr_model.predict(X)
print('Results for linear regression on training data')
print('Input: Independent Variables')
print(' Default settings')
print('Internal parameters:')
print(' Bias is ', lr_model.intercept_)
print(' Coefficients', lr_model.coef_)
print(' Score', lr_model.score(X,y))
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y, y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = lr_model.predict(X_test)
print()
print('Results for linear regression on test data')
print('Input: Independent Variables')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test, 
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for linear regression on training data
Input: Independent Variables
 Default settings
Internal parameters:
 Bias is  -1.5283937266527055
 Coefficients [ 0.38779181 -0.32188307 -0.46512575 -0.09804652  0.0129415  -0.01994653
  0.04897502  0.03769419  1.08215523  0.48793008 -0.43745797  1.85229615
  0.69190557 -0.2334347   0.22681135]
 Score 0.6638843540993338
MAE is  1.8679930474814213
RMSE is  2.5440397154089647
MSE is  6.472138073578126
R^2  0.6638843540993338

Results for linear regression on test data
Input: Independent Variables
MAE is  2.231231764964693
RMSE is  3.0268289032921896
MSE is  9.161693209804998
R^2  0.6679204137343452

In [62]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
X = train_set.drop('G3', axis=1)
y = train_set['G3']
X_test = test_set.drop('G3', axis=1)
y_test = test_set['G3']

linmod_las = Lasso(alpha  = .73)
linmod_las.fit(X,y)

y_pred = linmod_las.predict(X)
print('Results for linear regression on training data')
print('Input: Independent Variables')
print(' Default settings')
print('Internal parameters:')
print(' Bias is ', linmod_las.intercept_)
print(' Coefficients', linmod_las.coef_)
print(' Score', linmod_las.score(X,y))
print('MAE is ', mean_absolute_error(y, y_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y, y_pred)))
print('MSE is ', mean_squared_error(y, y_pred))
print('R^2 ', r2_score(y,y_pred))

y_test_pred = linmod_las.predict(X_test)
print()
print('Results for linear regression on test data')
print('Input: Independent Variables')
print('MAE is ', mean_absolute_error(y_test, y_test_pred))
print('RMSE is ', np.sqrt(mean_squared_error(y_test, 
y_test_pred)))
print('MSE is ', mean_squared_error(y_test, y_test_pred))
print('R^2 ', r2_score(y_test,y_test_pred))

Results for linear regression on training data
Input: Independent Variables
 Default settings
Internal parameters:
 Bias is  -0.5048057696822674
 Coefficients [ 0.          0.         -0.          0.          0.          0.
  0.          0.02255605  0.99453112  0.         -0.          0.
  0.         -0.          0.        ]
 Score 0.6217560640032718
MAE is  1.836413089575152
RMSE is  2.6987677357801063
MSE is  7.283347291687682
R^2  0.6217560640032718

Results for linear regression on test data
Input: Independent Variables
MAE is  2.0900004566931325
RMSE is  2.950350503294197
MSE is  8.704568092288321
R^2  0.6844896129446085